/*列表全浮动*/
.shop-class-show,
.shop-class-item,
.shop-class-item dt,
.shop-class-item dd,
.shop-class-item dd ul,
.shop-class-item dd ul li {
    float: left;
}

.shop-class-show {
    background-color: #1D7AD9;
}

.shop-class-item {
    padding: 10px 20px;
}

.shop-class-item dt {
    background: none;
    font-size: 15px;
}

.shop-class-item dd ul li {
    width: 120px;
    height: 21px;
    line-height: 21px;
    font-size: 13px;
    font-family: "Microsoft YaHei", "微软雅黑";
    padding-left: 8px;
}

.banner .right-area {
    width: 810px;
    margin-top: 15px;
}

.banner .right-area .box {
    margin-bottom: 15px;
}

/*筛选*/
.classify {
    margin-left: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #D9D9D9;
}

.classify a {

    padding: 2px;
}

.classify .classify-list ul li a {
    color: #2780DB;
}

.classify dt {
    line-height: 20px;
    width: 50px;
    height: 25px;
    text-align: right;
    float: left;
    margin-right: 42px;
    color: #666;
}

.limit {
    width: 55px;
    float: left;
    line-height: 20px;
}

.classify .active {
    background-color: #1D7AD9;
    color: #fff;
}

.classify-list {
    line-height: 20px;
    width: 626px;
    float: left;
}

.classify-list li {
    width: 25%;
    float: left;
}

.classify-more {
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    margin-top: 4px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.classify-more a {
    background: url("../img/icon/sj_grey.gif") right center no-repeat;
    padding-right: 15px;
}

/*地址选择条*/
.add-info {
    height: 31px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    margin-left: 15px;
}

.address {
    float: left;
}

.address .add-text {
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 5px;
    color: #999;
}

.add-info .select {
    margin-top: 4px;
}

.classify-text {
    padding-right: 80px;
}

.check {
    position: relative;
    top: -1px;
    _top: 4px;
}

.shop-number {
    position: relative;
    _top: 4px;
}

.check input,
.check label {
    vertical-align: middle;
}

.shop-number em {
    color: #f00;
    font-style: normal;
    font-weight: bold;
}

.classify-text span {
    vertical-align: middle;
}

/*地址选择组件*/
.select {
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    float: left;
    background: #fff;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
}

.select h3 {
    font-size: 12px;
    font-weight: normal;
}

.select span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background: url("../img/icon/sj_blue.jpg") center center no-repeat;
}

.show-select {
    position: absolute;
    left: -1px;
    top: 22px;
    background: #fff;
    width: 100%;
    border: 1px solid #999;
    display: none;
}

.show-select li {
    padding-left: 10px;
}

/*仅显示有货*/
.classify-text {
    line-height: 31px;
}

/*商品*/
.item {
    width: 30%;
    float: left;
    padding: 10px;
    position: relative;
}

.img-item {
    height: 170px;
    text-align: center;
}

.img-item img {
    height: 170px;
}

.item p {
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.item a {
    color: #666;
}

.item a:hover {
    color: #C81623;
}

.money-com {
    color: #A7A7A7;
}

.money {
    color: #D80000;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
}

.com {
    font-size: 14px;
    color: #005AA0;
    cursor: pointer;
}

.star {
    width: 13px;
    height: 12px;
    overflow: hidden;
    background: url("../img/icon/collection.jpg") left top no-repeat;
    display: inline-block;
    margin-right: 1px;
}

.add-cart {
    border: 1px solid #C3D5E7;
    height: 22px;
    display: inline-block;
    margin-top: 5px;
    padding: 0 6px 0 23px;
    background: url("../img/icon/car.jpg") 6px center no-repeat;
}

.hot {
    width: 52px;
    height: 52px;
    background: url("../img/icon/hot.jpg") left top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

/*分页*/
.page {
    margin-top: 25px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.page a {
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border: #CCC solid 1px;
    padding: 0 12px;
    margin: 0 2px;
}

.page .hl {
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px;
}

.morePage {
    padding-left: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #666;
}

.pageNum {
    width: 29px;
    padding: 0 3px;
    border: #ccc solid 1px;
    height: 24px;
    line-height: 24px \9;
    text-align: center;
    margin-left: 4px;
}

.page_btn {
    width: 44px;
    height: 24px;
    line-height: 24px;
    background-color: #E8E8E8;
    border: #CCC solid 1px;
    cursor: pointer;
    color: #666;
}

.ye {
    padding: 0 8px 0 6px;
    color: #666;
}

.page a,
.page span,
.page input {
    vertical-align: middle;
    position: relative;
}