/*面包屑*/
.user-position {
    font-size: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}

.user-position em,
.user-position span,
.user-position strong,
.user-position a {
    font-size: 12px;
}

.user-position em {
    font-style: normal;
}

.user-position a:hover {
    text-decoration: underline;
}

/*详情*/
.details-info {
    background-color: #FFF;
}

.details {
    border: #CCC solid 1px;
}

.details .details-left-area {
    width: 309px;
}

.details .details-right-area {
    width: 688px;
    border-left: #CCC solid 1px;
}

/*图片展示*/
.details-imgs .big {
    height: 340px;
    text-align: center;
}

.details-smimg {
    padding-left: 1px;
    width: 265px;
    margin: 0 auto;
}

.details-smimg li {
    float: left;
    margin-left: -1px;
}

.details-smimg img {
    border: #CCC solid 1px;
}

.details-smimg .active {
    border-color: #317EE7;
    position: relative;
}

.details-content {
    padding: 10px;
}

.details-content-tit {
    font: bold 16px/22px "Microsoft YaHei", "微软雅黑";
    padding: 13px 25px;
}

.details-content .dl {
    margin-bottom: 8px;
}

.details-content .dt {
    width: 75px;
    float: left;
    position: relative;
    color: #666;
    text-indent: 17px;
    line-height: 25px;
}

.details-content .dd {
    padding-left: 75px;
    *padding-left: 0;
}

.details-money {
    font-size: 18px;
    color: #F30;
    font-family: Verdana;
}

.details-money em {
    font-style: normal;
    font-size: 12px;
}

/*换购*/
.hg {
    padding-top: 4px;
    display: inline-block;
}

.hg-icon {
    width: 55px;
    height: 18px;
    display: inline-block;
    background-position: 0 -101px;
    color: #FFF;
    font-style: normal;
    text-indent: 16px;
    line-height: 18px;
    margin-right: 10px;
    float: left;
}

.hg em {
    float: left;
    font-style: normal;
    line-height: 18px;
}

/*地址组件*/
.select {
    border: #999 solid 1px;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    z-index: 4;
}

.select h3 {
    font-size: 12px;
    font-weight: normal;
}

.select span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background: url(../img/icon/sj_blue.jpg) center center no-repeat;
}

.show-select {
    position: absolute;
    left: -1px;
    top: 22px;
    background-color: #FFF;
    width: 100%;
    border: #999 solid 1px;
    display: none;
}

.show-select li {
    padding-left: 10px;
}

/*送货*/
.details-position {
    background-color: #F2F2F2;
    padding: 15px 0;
}

.the-goods {
    line-height: 24px;
    padding-left: 10px;
}

.details-content .color-select {
    line-height: 35px;
}

.details-item {
    color: #666;
    padding: 9px 10px;
    border: #CCC solid 1px;
    float: left;
    background-color: #FFF;
    margin-right: 10px;
}

.details-item-acitve {
    border-color: #317EE7;
    color: #333;
}

.details-item-sm {
    padding: 3px 7px;
    margin-bottom: 8px;
}

.details-content .details-select-more {
    line-height: 55px;
}

/*数量*/
.details-number {
    border: #B2B2B2 solid 1px;
    height: 32px;
    width: 82px;
    float: left;
}

.details-number div {
    height: 100%;
    float: left;
}

.reduction, .plus {
    width: 15px;
    background: url(../img/icon/plus_bg.jpg) left top no-repeat;
    line-height: 32px;
    text-align: center;
    color: #333;
}

.reduction {
    border-right: #CCC solid 1px;
}

.plus {
    border-left: #CCC solid 1px;
}

.details-input {
    width: 42px;
    background: url(../img/icon/des_input_bg.jpg) left top no-repeat;
    padding: 0 4px;
    overflow: hidden;
}

.details-input input {
    width: 100%;
    height: 32px;
    line-height: 32px \9;
    text-align: center;
}

.xg {
    line-height: 32px;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    color: #656565;
}

.xg em {
    color: #FB7700;
    font-style: normal;
}

.details-content .details-num {
    line-height: 32px;
}

/*已选择*/
.details-select {
    font-weight: bold;
    margin: 22px 0 12px;
    text-indent: 17px;
}

.details-select span {
    color: #0479C9;
}

.shop-buy {
    text-align: center;
}

.shopping-btn, .buy-btn {
    display: inline-block;
    width: 184px;
    height: 48px;
    background: url(../img/icon/buy_btn.jpg) left top no-repeat;
}

.line {
    width: 1px;
    height: 90px;
    overflow: hidden;
    background-color: #CCC;
    display: inline-block;
    margin: 0 40px;
}

.line, .shopping-btn, .buy-btn {
    vertical-align: middle;
}

.notes {
    color: #CCC;
    text-indent: 17px;
}

/*产品介绍*/
.des-info .left-area {
    width: 190px;
}

.des-info .right-area {
    width: 790px;
}

.recommend {
    border: #CCC solid 1px;
    background-color: #FFF;
    padding-bottom: 15px;
    margin-top: 10px
}

.recommend .tit {
    height: 39px;
    border-bottom: solid 1px #ccc;
    line-height: 39px;
    text-indent: 15px;
    font-size: 14px;
    background-color: #F3F3F3;
}

.recommend .item {
    float: none;
    height: auto;
}

.item p {
    line-height: 20px;
}

.item a {
    color: #000;
}

.item a:hover {
    text-decoration: underline;
}

.item-cont {
    padding: 0 15px;
}

.img-item {
    height: 170px;
    text-align: center;
}

.img-item img {
    height: 170px;
}

.recommend .money {
    color: #D4105A;
    font-weight: bold;
    padding-top: 0;
}

/*详细介绍*/
.des-infoContent {
    border: #CCC solid 1px;
    background-color: #FFF;
    margin-top: 10px
}

.des-tit {
    height: 39px;
    border-bottom: #CCC solid 1px;
    background: url(../img/icon/des_title.jpg) left top repeat-x;
}

.des-tit li {
    float: left;
    width: 50%;
    font: 14px/39px "宋体";
    text-align: center;
    border-left: solid 1px #ccc;
    margin-left: -1px;
}

.des-tit .active {
    background-color: #0479CA;
    font-weight: bold;
    color: #FFF;
    position: relative;
}

.des-tit span {
    background: url(../img/icon/des_title_icon.png) left center no-repeat;
    padding-left: 32px;
    display: inline-block;
    line-height: 39px;
}

.ad {
    padding: 30px 0;
    text-align: center;
}

.info-tit {
    height: 26px;
    border-bottom: #CCC solid 1px;
    font-family: "Microsoft YaHei", "微软雅黑";
    margin-bottom: 18px;
}

.info-tit h3 {
    float: left;
    font-size: 16px;
    color: #2357A5;
    border-bottom: #2357A5 solid 1px;
    height: 26px;
    margin-bottom: -1px;
    position: relative;
    padding-right: 8px;
}

.info-tit h4 {
    font-size: 12px;
    line-height: 26px;
    padding-left: 4px;
    color: #656565;
}

.info-text {
    padding: 0 20px;
}

.info-text p {
    line-height: 22px;
    font-size: 14px;
    color: #656565;
}

.center {
    display: block;
    margin: 0 auto;
}

/*商品评价*/
.shopDes-tit {
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    color: #656565;
    padding-left: 10px;
}

.score-box {
    padding-left: 10px;
    height: 120px;
}

.score {
    font-family: "Microsoft YaHei", "微软雅黑";
    float: left;
    margin-right: 10px;
}

.score em {
    font-size: 18px;
    color: #65657D;
    font-style: normal;
}

.score span {
    font-size: 50px;
    color: #FF8F00;
}

.score-speed {
    float: left;
    width: 450px;
    line-height: 16px;
    font-size: 12px;
    margin-top: 12px;
    position: relative;
}

.score-speed-text {
    overflow: hidden;
    margin-bottom: 10px;
    color: #FFF;
    height: 16px;
    background-color: #BDBDBD;
}

.score-speed-text li {
    float: left;
}

.score-speed-text .speed-01 {
    width: 114px;
    text-indent: 26px;
}

.score-speed-text .speed-02 {
    width: 82px;
}

.score-speed-text .speed-03 {
    width: 76px;
}

.score-speed-text .speed-04 {
    width: 65px;
}

.score-num {
    position: absolute;
    left: 94%;
    top: -21px;
    text-align: center;
    width: 25px;
    height: 14px;
    background-color: #7F7F7F;
    color: #FFF;
}

.score-num i {
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #7F7F7F transparent transparent transparent;
    width: 0;
    height: 0;
}

/*满意切换*/
.review-tab {
    height: 32px;
    background-color: #F2F2F2;
}

.review {
    line-height: 32px;
    height: 100%;
    padding-left: 20px;
}

.review li {
    float: left;
    height: 100%;
    margin-right: 40px;
}

.review li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.review .active {
    color: #317DE6;
    font-weight: bold;
    border-bottom: #317DE6 solid 2px;
    margin-bottom: -2px;
    position: relative;
}

.review-sort {
    padding: 5px 5px 0 0;
}

.review-sort a {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    border: solid 1px #ccc;
    padding: 0 20px 0 6px;
    background: url(../img/icon/down.png) 58px center no-repeat;
}

.review-list {
    padding-top: 18px;
    margin-bottom: 10px;
}

.review-userHead {
    width: 170px;
}

.review-user {
    width: 60px;
    text-align: center;
    margin-left: 40px;
}

.review-user img {
    width: 60px;
    height: 60px;
    display: block;
}

.review-user p {
    line-height: 20px;
}

.review-cont {
    padding-left: 170px;
}

.stars {
    width: 13px;
    height: 12px;
    overflow: hidden;
    background-position: 0 0;
    display: inline-block;
    margin-right: 1px;
    margin-top: 1px;
}

.stars-text {
    font-weight: bold;
    padding-left: 10px;
}

.review-t {
    height: 24px;
    padding-top: 5px;
}

.review-cont p {
    line-height: 30px;
}