/*列表全浮动*/
.shop-class-show,
.shop-class-item,
.shop-class-item dt,
.shop-class-item dd,
.shop-class-item dd ul,
.shop-class-item dd ul li {
    float: left;
}

.shop-class-show {
    background-color: #1D7AD9;
}

.shop-class-item {
    padding: 10px 20px;
}

.shop-class-item dt {
    background: none;
    font-size: 15px;
}

.shop-class-item dd ul li {
    width: 64px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.banner .right-area {
    width: 810px;
}

/*产品列表*/
.banner-bar {
    float: none;
}

/*标题*/
.product-title {
    height: 34px;
    border-bottom: 2px solid #ccc;
    margin-top: 7px;
}

.product-title h3 {
    width: 180px;
    border-bottom: 2px solid #096dba;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    /*下列两项微调兼容IE6*/
    margin-bottom: -2px;
    position: relative;
}

/*商品*/
.item {
    width: 180px;
    float: left;
    padding: 10px;
}

.img-item {
    height: 170px;
    text-align: center;
}

.img-item img {
    height: 170px;
}

.item p {
    line-height: 20px;
    padding-left: 10px;
}

.item a {
    color: #000;
}

.item p a.blue {
    color: #085C9B;
}

.item a:hover {
    text-decoration: underline;
}

.money {
    color: #d4105a;
    font-weight: bold;
    padding-top: 10px;
}

.star {
    width: 13px;
    height: 12px;
    overflow: hidden;
    background: url("../img/icon/collection.jpg") left top no-repeat;
    display: inline-block;
    margin-right: 1px;
}